<main class="container">
    <form action="/create-account" method="post" class="default-form">
        <div class="field">
            <label>Name</label>
            <input type="text" name="name" placeholder="Your name">
        </div>
        <div class="field">
            <label>E-mail</label>
            <input type="text" name="email" placeholder="Your E-mail">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Your Password">
        </div>
        <div class="field">
            <label>Confirm it</label>
            <input type="password" name="confirm" placeholder="Confirm your Password">
        </div>
        <div class="field actions">
            <a href="/log-in">Back to Log in</a>
        </div>
        <div class="field center-horizontal">
            <input type="submit" value="Sign Up" class="btn btn-blue">
        </div>
    </form>
</main>