<main class="container">
    <form action="/edit-profile" method="post" class="default-form" enctype="multipart/form-data">
        <div class="field">
            <label>Name</label>
            <input type="text" name="name" value="{{user.name}}" placeholder="Your name">
        </div>
        <div class="field">
            <label>Email</label>
            <input type="text" name="email" value="{{user.email}}" placeholder="Your email">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Your password">
        </div>
        <div class="field">
            <label>Profile Image</label>
            <input type="file" name="image">
            {{#if image}}
                <img src="uploads/profiles/{{user.image}}" alt="{{user.name}}´s avatar" class="admin-profile">
            {{/if}}
        </div>
        <div class="field">
            <input type="submit" value="Save Changes" class="btn btn-blue">
        </div>
    </form>
</main>