<main class="container">
    <form action="/login" method="POST" class="default-form">
        <div class="field">
            <label>Email</label>
            <input type="email" name="email" placeholder="Your email">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Your password">
        </div>
        <div class="field actions">
            <a href="/create-account">Create an Account</a>
            <a href="/reset-password">Forgot my password</a>
        </div>
        <div class="field">
            <input type="submit" value="Log in" class="btn btn-blue">
        </div>
    </form>
</main>