<main class="container">
     <form action="/login" method="post" class="default-form">
        <div class="field">
            <label>New Password</label>
            <input type="password" name="password" placeholder="Your new password">
        </div>
        <div class="field">
            <input type="submit" value="Save Password" class="btn btn-blue">
        </div>
    </form>
</main>