<main class="container">
    <form action="/reset-password" method="post" class="default-form">
        <div class="field">
            <label>Email</label>
            <input type="email" name="email" placeholder="Your email">
        </div>
        <div class="field actions">
            <a href="/login">did you remember it? let's go back to login</a>
        </div>
        <div class="field">
            <input type="submit" value="Reset Password" class="btn btn-blue">
        </div>
    </form>
</main>